<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<!-- Begin about section -->
<section id="about-section" class="page bg-style1">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                <h2>About Me</h2>
                <div class="devider"></div>
                <p class="subtitle">little information</p>
            </div>
        </div>
    </div>
    <!-- End page header-->

    <!-- Begin rotate box-1 -->
    <div class="rotate-box-1-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                        <span class="rotate-box-icon"><i class="fa fa-users"></i></span>
                        <div class="rotate-box-info">
                            <h4>Who I Am?</h4>
                            <p>My name is Mayank Bhardwaj and I am an Internatinal student in Georgian College.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.2s">
                        <span class="rotate-box-icon"><i class="fa fa-diamond"></i></span>
                        <div class="rotate-box-info">
                            <h4>What I Do?</h4>
                            <p>I am studying at Goorgian College and taking Computer Programming.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.4s">
                        <span class="rotate-box-icon"><i class="fa fa-heart"></i></span>
                        <div class="rotate-box-info">
                            <h4>What I like To Do?</h4>
                            <p>I like to create new websites and i really enjoy doing it.</p>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 col-sm-6">
                    <a href="#" class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0.6s">
                        <span class="rotate-box-icon"><i class="fa fa-clock-o"></i></span>
                        <div class="rotate-box-info">
                            <h4>What I Want To Do?</h4>
                            <p>In future if I get the opportunity in future I would to develop my skills as Web Developer.</p>
                        </div>
                    </a>
                </div>

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>
    <!-- End rotate box-1 -->

    <div class="extra-space-l"></div>




</section>
<!-- End about section -->
<% include partials/footer.ejs %>
