<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

<style> #about-section {
        margin-top: 25px;  }
</style>
<section id="about-section" class="page bg-style1">
    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                <h2>About</h2>
                <div class="devider"></div>
                <p class="subtitle">little information</p>
            </div>
        </div>
    </div>
    <!-- about-->
    <section id="about" class="text">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="lead"> My name is Mayank Bhardwaj. I am international student in Georgian college.
                        I am basicalliy from India, also known as "Land of Festival". I completed my high school </br>
                        in the feild of Medical Science.</p>
                    <p class="lead"> In future if I get the opportunity in future I would like to develop my skills as
                        Web Developer.
                        Since the time I came to Cananda I worked at alot of places and one thing I learn that
                        experience is very important to find a job so i think I should create more website and
                        became a professional.</br>
                    </p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <p><img src="images/IMG_1133.jpg" alt="" class="img-responsive circular--square"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- about end-->

    <div class="extra-space-l"></div>

</section>
<!-- End about section -->
<% include partials/footer.ejs %>
