<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
<style> #contact-section {margin-top: 25px;}</style>
<!-- Begin contact section -->
<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(images/map-bg.jpg);">
    <div class="cover"></div>

    <!-- Begin page header-->
    <div class="page-header-wrapper">
        <div class="container">
            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                <h2>Contacts</h2>
                <div class="devider"></div>
                <p class="subtitle">To contact me</p>
            </div>
        </div>
    </div>
    <!-- End page header-->
    <% if (messages) { %>
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= messages %>
    </div>
    <% } %>

    <div class="contact wow bounceInRight" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <div class="contact-info">
                        <h4>Our Address</h4>
                        <ul class="contact-address">
                            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp;87 College Crescent, Barrie, ON L4M 2W5 ,
                                <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Barrie, ON ,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Barrie,Canada, Ontario</li>
                            <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
                            <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
                            <li><i class="fa fa-envelope"></i> mayank@portfolio.com</li>

                        </ul>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="contact-form">
                        <h4>Write to Me</h4>

                        <form role="form"  name="contactus" id="contactus" method="post">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name:" required>

                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="yourname@youremail.com" required>

                            </div>
                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your contact number" required>

                            </div>
                            <div>
                            <label for="message">Message:</label>
                            <textarea class="form-control"  id="message" name="message" rows="5" placeholder="Enter Your Message Here..." required></textarea>
                    </div>
                            <button type="submit"  value="Send" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
                        </form>
                    </div>
                </div>

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>
</section>
<!-- End contact section -->
<% include partials/footer.ejs %>