<% include partials/header.ejs %>
<% include partials/navbar.ejs %>
   <!-- Begin text carousel intro section -->
    <section id="text-carousel-intro-section" class="parallax" data-stellar-background-ratio="0.2" style="background-image: url(images/slider-bg.jpg);">

        <div class="container">
            <div class="caption text-center text-white" data-stellar-ratio="0.2">

                <div id="owl-intro-text" class="owl-carousel">
                    <div class="item">
                        <h1>I have Awesome things</h1>
                        <p>Let's work together</p>
                        <div class="extra-space-l"></div>

                    </div>
                    <div class="item">
                        <h1>Join with me</h1>
                        <p>In my Journey</p>
                        <div class="extra-space-l"></div>
                    </div>
                    <div class="item">
                        <h1>I'm Mayank</h1>
                        <p>A web Developer</p>
                        <div class="extra-space-l"></div>
                    </div>
                </div>

            </div> <!-- /.caption -->
        </div> <!-- /.container -->

    </section>
    <!-- End text carousel intro section -->




    <!-- Begin about section -->
    <section id="about-section" class="page bg-style1">
        <!-- Begin page header-->
        <div class="page-header-wrapper">
            <div class="container">
                <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                    <h2>About Me</h2>
                    <div class="devider"></div>
                    <p class="subtitle">little information</p>
                </div>
            </div>
        </div>
        <!-- End page header-->

        <!-- about-->
        <section id="about" class="text">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="lead"> My name is Mayank Bhardwaj. I am international student in Georgian college.
                            I am basicalliy from India, also known as "Land of Festival". I completed my high school </br>
                            in the feild of Medical Science.</p>
                        <p class="lead"> In future if I get the opportunity in future I would like to develop my skills as
                            Web Developer.
                            Since the time I came to Cananda I worked at alot of places and one thing I learn that
                            experience is very important to find a job so i think I should create more website and
                            became a professional.</br>
                        </p>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <p><img src="images/IMG_1133.jpg" alt="" class="img-responsive circular--square"></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- about end-->


        <div class="extra-space-l"></div>

        <!-- Begin page header-->
        <div class="page-header-wrapper">
            <div class="container">
                <div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
                    <h4>My Skills</h4>
                </div>
            </div>
        </div>
        <!-- End page header-->

        <!-- Begin Our Skills -->
        <div class="our-skills">
            <div class="container">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="skill-bar wow slideInLeft" data-wow-delay="0.2s">
                            <div class="progress-lebel">
                                <h6>Photoshop</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="skill-bar wow slideInRight" data-wow-delay="0.2s">
                            <div class="progress-lebel">
                                <h6>WordPress</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="skill-bar wow slideInLeft" data-wow-delay="0.4s">
                            <div class="progress-lebel">
                                <h6>Html & Css</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                            <div class="progress-lebel">
                                <h6>Javascript</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="skill-bar wow slideInRight" data-wow-delay="0.4s">
                            <div class="progress-lebel">
                                <h6>Javascript</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="skill-bar wow slideInLeft" data-wow-delay="0.6s">
                            <div class="progress-lebel">
                                <h6>Java</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div>
        <!-- End Our Skill -->
    </section>
    <!-- End about section -->
<section id="portfolio-section" class="page bg-style1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio">
                    <!-- Begin page header-->
                    <div class="page-header-wrapper">
                        <div class="container">
                            <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                                <h2>Projects</h2>
                                <div class="devider"></div>
                                <p class="subtitle">MY Work</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-section-a">

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5 col-sm-6">
                                    <hr class="section-heading-spacer">
                                    <div class="clearfix"></div>
                                    <h2 class="section-heading">Arduino Project: <br>Semester 1</h2>
                                    <p class="lead">I made a project with arduino in my first semester. Basically known
                                        as <a target="_blank" href="#">Arduino Time Clock</a>
                                        It was pretty simple and and made with simple components using few led's, a
                                        bunch of wires and batteries offcourse.</p>
                                </div>
                                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                                    <img class="img-responsive"
                                         src="http://www.engblaze.com/wp/wp-content/uploads/arduino-clock.jpg" alt="">
                                </div>
                            </div>

                        </div>
                        <!-- /.container -->

                    </div>
                    <!-- /.content-section-a -->

                    <div class="content-section-b">

                        <div class="container">

                            <div class="row">
                                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                                    <hr class="section-heading-spacer">
                                    <div class="clearfix"></div>
                                    <h2 class="section-heading">Web Development: <br>Semester 2</h2>
                                    <p class="lead">In this I made a webiste in which user can register and then log in
                                        and that gives the user of ability to create more web pages.The logo of my
                                        wibsite was <a target="_blank" href="#">Create & Explore</a>!The website was
                                        very user friendly and creative!</p>
                                </div>
                                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                                    <img class="img-responsive"
                                         src="https://digitalsynopsis.com/wp-content/uploads/2014/03/how-to-create-a-website-feature-image.jpg"
                                         alt="">
                                </div>
                            </div>

                        </div>
                        <!-- /.container -->

                    </div>
                    <!-- /.content-section-b -->
                </div>
            </div>
        </div>
    </div>
</section>


    <!-- Begin contact section -->
    <section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(images/map-bg.jpg);">
        <div class="cover"></div>

        <!-- Begin page header-->
        <div class="page-header-wrapper">
            <div class="container">
                <div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
                    <h2>Contacts</h2>
                    <div class="devider"></div>
                    <p class="subtitle">To contact me</p>
                </div>
            </div>
        </div>
        <!-- End page header-->

        <div class="contact wow bounceInRight" data-wow-delay="0.4s">
            <div class="container">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="contact-info">
                            <h4>Our Address</h4>
                            <ul class="contact-address">
                                <li><i class="fa fa-map-marker fa-lg"></i>&nbsp;87 College Crescent, Barrie, ON L4M 2W5 ,
                                    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Barrie, ON ,<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Barrie,Canada, Ontario</li>
                                <li><i class="fa fa-phone"></i>&nbsp; 1 -234 -456 -7890</li>
                                <li><i class="fa fa-print"></i>&nbsp; 1 -234 -456 -7890</li>
                                <li><i class="fa fa-envelope"></i> mayank@portfolio.com</li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="contact-form">
                            <h4>Write to Me</h4>
                            <form role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Your Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control input-lg" placeholder="E-mail" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" placeholder="Subject" required>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control input-lg" rows="5" placeholder="Message" required></textarea>
                                </div>
                                <button type="submit" class="btn wow bounceInRight" data-wow-delay="0.8s">Send</button>
                            </form>
                        </div>
                    </div>

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div>
    </section>
    <!-- End contact section -->


<% include partials/footer.ejs %>

